<!DOCTYPE html>
<html>

<head>
    <meta charest="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width" initial-scale="1.0">



    <link rel="stylesheet" href="/static/css/style.css">
    <title>Gym Page</title>

</head>

<body>
    <div class="hero-content">
        <nav>
            <h2 class="brand">Fit<span>ness Home</span></h2>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Portfolio</a></li>
                <li><a href="">Gallery</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">About</a></li>
            </ul>
            <button type="button">Join Us</button>
        </nav>

        <div class="content">
            <h2><span class="auto-typed"></span></h2>
            <p>Fitness Home</p>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
    <script>
        var typed = new Typed(".auto-typed", {
            strings: ["'You may not be there yet.'", "'But you are closer than yesterday.'"],
            typeSpeed: 100,
            backSpeed: 100,
            loop: true,
        })
    </script>


</body>
</html>